<h1>Hi! Please confirm your email!</h1>

<p>
    Merci de confirmer votre adresse mail en cliquant sur le lien ci-après <br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement !
</p>
