<div class="col-12" id="header">
    <div class="col-3">
        <a href="{{ path('main_home') }}"><img src="{{ asset('images/logo.png') }}" alt="logo d'AuxoisFM" id="logo" class="img-fluid"></a>
    </div>
</div>
    
    
