
    <div class="col-12 d-flex flex-column flex-md-row align-items-md-center" id="header">
        <div class="col-6 offset-3 col-md-4 offset-md-0">
            <a href="{{ path('main_home') }}"><img src="{{ asset('images/logo.png') }}" alt="logo d'AuxoisFM" id="logo" class="img-fluid"></a>
        </div>
    </div>

    
    
