/*Paramètres Généraux*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');


body{
    font-family: 'Montserrat', sans-serif;
}

body.blue{
    background-color: #c95f5f;
}

body.red{
    background-color: rgba(201, 95, 95, 0.8);
}
body{
    max-height: 100vh;
}

#logo{
    border-radius: 25px;
    border: #7adcf1 5px solid;
    height: 9vh;
    margin-top: 0.5vh;
    margin-left: .5vh;
}

#logo:hover{
    border-radius: 25px;
    border: #c95f5f 5px solid;
    height: 9vh;
    margin-top: 0.5vh;
    margin-left: .5vh;
}
/*Header*/
#header {
    background-color: #1f3c5c;
    height: 10vh;
}
/*Accueil*/


#news {
  height: 45vh;
  background-color: #085f8c;
}

#podcasts {
  background-color: #7adcf1;
    max-height: 45vh;
    min-height: 45vh;
}


#player {
    background-color: #c95f5f;
    object-fit: cover;
    max-height: 45vh;
    min-height: 45vh;
}

.on-air-img img{
    max-height: 30vh;
}

.on-air-txt{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.now-playing{
    font-style: italic;
}


#more-news {
  background-color: #CA9721;
  text-decoration: none;
  color: #1f3c5c;
  font-weight: bold;
    font-size: 3rem;
    max-height: 45vh;
    min-height: 45vh;
}

.menu-link {
    min-height: 45vh;
  max-height: 45vh;
  text-decoration: none;
  color: #1f3c5c;
  font-weight: bold;
  font-size: 3rem;
}

.blue-background {
  background-color: #1f3c5c !important;
}

.overlayed-podcast {
  color: rgb(255, 255, 255) !important;
  background-color: #1f3c5c !important;
}


/*Librairie hover.css*/
/* Bounce To Top */
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1f3c5c;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
}

.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/*Grille des programmes et podcasts*/

.target .normal {
  display: none;
}

