/*Paramètres Généraux*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
html{
    max-height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

body.blue{
    background-color: #c95f5f;
}

body.red{
    background-color: rgba(201, 95, 95, 0.8);
}

/*Header*/
#header {
    background-color: #1f3c5c;
    height: 10vh;
}

#logo{
    border-radius: 25px;
    border: #7adcf1 5px solid;
    height: 9vh;
    margin: .5vh .5vw
}

#logo:hover {
    border-radius: 25px;
    border: #c95f5f 5px solid;
    height: 9vh;
    margin-top: 0.5vh;
    margin-left: .5vh;
}

.log-btn{
    border-radius: 25px;
    border: #7adcf1 5px solid;
    color: #1f3c5c;
    list-style-type: none;
}

.log-btn:hover {
    border-radius: 25px;
    border: #c95f5f 5px solid;
}

/*Accueil*/

.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
}

#news {
  height: 50vh;
  background-color: #085f8c;
    display: flex;
}

#podcasts {
  background-color: #7adcf1;
    max-height: 40vh;
    min-height: 40vh;
    color: #1f3c5c;
cursor: pointer;
    display: flex;
}

#podcasts h2{
    font-weight: bold;
    font-size: 3rem;

}


#player {
    background-color: #c95f5f;
    object-fit: cover;
    max-height: 40vh;
    min-height: 40vh;
    display: flex;
}

.on-air-img img{
    max-height: 30vh;
}

.on-air-txt{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.on-air-txt:hover{
    color: #1f3c5c;
}

.now-playing{
    font-style: italic;
}


#more-news {
  background-color: #CA9721;
  text-decoration: none;
  color: #1f3c5c;
  font-weight: bold;
    font-size: 3rem;
    max-height: 40vh;
    min-height: 40vh;
}


.blue-background {
  background-color: #1f3c5c !important;
}


/*Grille des programmes et podcasts*/


#calendar-holder{
    height: 80vh;
    object-fit: cover;
    z-index: 100;
}


.overlay{
    position: fixed;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
    background-color: rgba(31,60,92,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.overlay #calendar-holder{
    max-width: 75vw;
    max-height: 75vh;
    background-color: rgba(255,255,255,.9);
    border-radius: 10px;
    object-fit: cover;
    overflow: scroll;
}

.overlay .close{
    color: white;
    font-size: 64px;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
.overlay .switchToShowList{
    position: absolute;
    top: 10px;
    left: 10px;
}

.overlay #show-list{
    height: 75vh;
    width: 75vw;
    background-color: rgba(255,255,255,.9);
    border-radius: 10px;
    object-fit: cover;
    overflow: scroll;
}

/* Profil */
.user-profile-data{
    cursor: pointer;
}

.user-pseudo:hover, .user-email:hover{
    font-style: italic;
    font-size: larger;
}

.list-group .list-group-item .user-profile-data:hover{
    color: white !important;
}
.list-group-item{
    height: 8vh;
}

.profile-container{
    min-height: 60vh;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
}

/*Shows*/

.show-list-logo{
    max-height: 15vh;
}

.show-webpage-logo{
    min-height: 10vh;
    max-height: 15vh;
}

.separation-line{
    border-right:  black 1px solid;
}

.playlist-display{
    margin-top: 1rem;
    padding: 1rem 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 10px;
}

.playlist-button{
    cursor: pointer;
}

.external_playlist li{
    list-style-type: none;
    text-align: start;
}

.external_playlist li a{
    color: black;
    text-decoration: none;
}

table th, table td{
    text-align: center;
}

/*Formulaire de création d'émission*/
#radio_show_creation_form_broadcastDay{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
}

.time-input>fieldset{
    display: flex;
    flex-direction: row;
}

.time-input>fieldset>legend{
    width: 50%;
}