{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <a href="{{ path('admin_panel_articles_list') }}" class="btn btn-danger col-1 mt-2 ms-4 position-absolute">Retour</a>
    <div class="row">
        <h1 class="col-12 text-center my-5">Modifier un article</h1>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}



